API_BASE_URL=https://ciyuan.fast/v1
IMAGE_API_BASE_URL=https://imgapi.ciyuan.fast/v1
MODELS_ENDPOINT=/models
CHAT_COMPLETIONS_ENDPOINT=/chat/completions
RESPONSES_ENDPOINT=/responses
IMAGE_GENERATIONS_ENDPOINT=/images/generations
IMAGE_EDITS_ENDPOINT=/images/edits
IMAGE_VARIATIONS_ENDPOINT=/images/variations
IMAGE_MODEL=
PORT=3000
